.body {
    font-family: "A Caslon Pro";
    background-color: #fff;
    color:black
}

.container {
  font-family: "A Caslon Pro";;
}

 nav img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.back-img{
  background-image:url(ICON/bg.png);
  background-repeat: no-repeat;
  padding-bottom: 11em;
  background-position: top right;
}
.navbar-nav a:link {
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    font-family: "A Caslon Pro";
    font-weight: bold;
}

  
.navbar-nav  a:visited {
    text-decoration: none;
  }
  
.navbar-nav  a:hover {
    text-decoration: underline;
  }
  
.navbar-nav  a:active {
   text-decoration: underline;
   color: #0a197c;
  }
.box {
  text-align: center;
}

.content {
  padding-top: 100px;
  font-family: "A Caslon Pro";
  color: black;
}
.content h2 {
  font-size:30px;
  font-weight: bolder;
}
.content span {
  font-size: 20px;
  line-height: 15px;
  font-weight: bolder;
} 
.content p {
  font-size: 15px;
  text-align: center;
}
.content a {
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-weight: bold;
  width: 141px;
height: 35px;
font-size: 14px;
}
.about h4{
  font-family: "A Caslon Pro";
  
}
.about a {
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-weight: bold;
  width: 141px;
  height: 35px;
  font-size: 14px; 
  font-family: "A Caslon Pro";
}
.about p {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 25px;
  color: #000000;
  font-family: "A Caslon Pro";
  text-align: center;
}

.underline {
   font-size: 36px;
letter-spacing: 0px;
line-height: 50px;
color: #1a2675;
font-weight: bold;
 position: relative;
 padding-bottom: 10px;
}

.underline::after {
  content: '';
  width: 280px;
  height: 7px;
  position:absolute;
  background-color: #1a2675;
  left: 30%;
  right: 100%;
  bottom: 0;
}



.services {
  font-family: "A Caslon Pro";
  

}

.underline0 {
  font-size: 36px;
letter-spacing: 0px;
line-height: 50px;
color: #1a2675;
font-weight: bold;
position: relative;
padding-bottom: 10px;
}

.underline0::after {
  content: '';
  width: 175px;
  height: 8px;
  position:absolute;
  background-color: #1a2675;
  left: 0%;
  right: 0%;
  bottom: 5%;
}

.services a {
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-weight: bold;
  width: 141px;
height: 35px;
font-size: 14px; 
}

.img2 {
  height: 100px;
  width: 100px;
}
#cardinner {
  border-radius: 70px 0px 0px 70px;
  border: 0px;
  margin-left: 20px;
  position: relative;

}
 #cardinner::before {
    content: " ";
    height: 250px;
    width: 500px;
    background-color: #00349c;
    position:absolute;
    z-index: -1;
    border-radius: 137px ;
    top:-30px;
    margin-left: -30px;
    filter: drop-shadow(0px 45px 28.5px rgba(0,0,0,0.27));
 }
#iframe {
  border-radius:70px 70px 0 0;
  border: 1px solid #ffffff;
  width:352px;
  height:452px;
  border: none;
}

.why {
  text-align: end;
}

.underline1 {
  font-size: 36px;
letter-spacing: 0px;
line-height: 50px;
color: #1a2675;
font-weight: bold;
position: relative;
padding-bottom: 10px;
}


.underline1::after {
  content: '';
  width: 200px;
  height: 8px;
  position:absolute;
  background-color: #1a2675;
  left: 61%;
  right: 0%;
  bottom: 5%;
}

.chooseus {
  margin-top: -50px;
  filter: drop-shadow(0px 0px 40.5px rgba(0,0,0,0.56));
  background-color: #ffffff;
  z-index: -1;
  padding-left:150px;
  margin-left: 250px;
  border:black;
}

#why photo {
  padding-left: 50px;

}

.gallery {
  font-family: "A Caslon Pro";
}

.breadcrumb a {
   color: #000000;
}
.breadcrumb a:link {
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 31px;
  font-family: "A Caslon Pro";
}


.breadcrumb  a:visited {
  text-decoration: none;
}

.breadcrumb  a:hover {
  text-decoration: underline;
  color: #000000;
}

.breadcrumb  a:active {
 text-decoration: underline;
 color: #000000;
}

.img3 {
  height: 170px;
  width: 170px;
}
.box1 {
  filter: drop-shadow(0px 6px 3.5px rgba(0,0,0,0.41));
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 55px;
}

.usefull h3 {
  color: #0a197c;
}

.usefull a {
  color: #0a197c;
  font-size: medium;
}

#blog {
  font-size: 17px;
  font-family:"Avenir LT Std" ;
}

.about1 h4{
  font-family: "Open Sans";
  
}

.about1 contact{
  font-family: "Open Sans";

}
.about1 a {
  align-items: center;
  font-weight: bold;
  width: 141px;
  height: 35px;
  font-size: 14px; 
  font-family: "Open Sans";
}
.about1 p {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 25px;
  color: #000000;
  font-family: "Open Sans";
  text-align: center;
}
.footer {
  font-size: 24px;
letter-spacing: 2px;
line-height: 25px;
color: #000000;
font-family: "Myriad Pro";
}

@media(max-width: 1199px) { 
  .body {
    font-family: "A Caslon Pro";
    overflow-x: hidden;
    margin: auto;
    padding: auto;
  }
  .container {
   margin: auto;
   padding: auto;
  }

  .navbar-nav a:link {
    font-size: 16px;
  }

  .content h2 {
    font-size:25px;
  }
  .content span {
    font-size: 19px;
  } 
  .content p {
    font-size: 14px;
  }
  .content a {
    width: 130px;
    height: 35px;
    font-size: 14px;
  }
  .about h2 {
    font-family: " A Caslon Pro";
    font-size:30px ;
  }
  .about a {
    width: 130px;
    font-size: 14px; 
  }
  .about p {
    font-size: 16px;
    overflow: hidden;
    font-family: " A Caslon Pro";
  }
  .underline::after {
    content: '';
    width: 230px;
    height: 8px;
    position:absolute;
    background-color: #1a2675;
    left: 30%;
    right: 0%;
    bottom: 5%;
  }
  .underline0 {
    font-size: 30px;
  }
  .underline1 {
    font-size: 30px;
  }
  
  
  .underline1::after {
    content: '';
    width: 160px;
    height: 8px;
    position:absolute;
    background-color: #1a2675;
    left: 61%;
    right: 0%;
    bottom: 5%;
  }
  .chooseus {
    margin-top: -50px;
    width: fit-content;
    filter: drop-shadow(0px 0px 40.5px rgba(0,0,0,0.56));
    background-color: #ffffff;
    z-index: -1;
    padding-left:150px;
    margin-left: 250px;
    border:black;
  }

  .img3 {
    height: 125px;
    width: 125px;
  }

  .mar{
    margin-left: 0px;
  }
  .about1 h4{
    font-size: 30px;
    
  }
  
  .about1 contact{
    font-family: "Open Sans";
    font-size: 15px;
  
  }
  .about1 a {
    align-items: center;
    font-weight: bold;
    width: 141px;
    height: 35px;
    font-size: 16px; 
    font-family: "Open Sans";
  }
  .about1 p {
    font-size: 16px;
  }

}   
 @media(max-width: 991px) {
  .body {
    font-family: "A Caslon Pro";
    overflow-x: hidden;
    margin: auto;
    padding: auto;
  }
  .container {
   margin: auto;
   padding: auto;
  }

  .navbar-nav a:link {
    font-size: 16px;
  }

  .content h2 {
    font-size:25px;
  }
  .content span {
    font-size: 19px;
  } 
  .content p {
    font-size: 14px;
  }
  .content a {
    width: 130px;
    height: 35px;
    font-size: 14px;
  }
  .about h2 {
    font-family: " A Caslon Pro";
    font-size:30px ;
  }
  .about a {
    width: 130px;
    font-size: 14px; 
  }
  .about p {
    font-size: 16px;
    overflow: hidden;
    font-family: " A Caslon Pro";
  }
  .underline::after {
    content: '';
    width: 230px;
    height: 8px;
    position:absolute;
    background-color: #1a2675;
    left: 30%;
    right: 0%;
    bottom: 5%;
  }
  .underline0 {
    font-size: 30px;
  }
  .iframe {
    height: 500px;
    width: 50px;
    
  }
  .why {
    font-family: "A Caslon Pro";
  }
  .underline1 {
    font-size: 10px;
    text-align:center;
  }
  
  
  .underline1::after {
    width: 110px;
    left: 25%;
    right: 0%;
    bottom: 5%;
  }

  .txt {
    font-size: medium;
    overflow: hidden;
    text-align: center;
  }
  .chooseus {
    margin-left: 50px;
    margin-top:0PX;
    width: fit-content;
    filter: drop-shadow(0px 0px 40.5px rgba(0,0,0,0.56));
    background-color: #ffffff;
    padding-left:10px;
    margin-left: 20px;
    border:black;
  }

  .img3 {
    height: 125px;
    width: 125px;
  }

  .blog {
    font-size: small;
    line-height: normal;
  }

  .mar{
    margin-left: 0px;
  }
  .about1 h4{
    font-size: 20px;
    
  }
  
  .about1 contact{
    font-size: 15px;
  
  }
  .about1 a {
    align-items: center;
    font-weight: bold;
    width: 141px;
    height: 35px;
    font-size: 15px; 
    font-family: "Open Sans";
  }
  .about1 p {
    font-size: 15px;
  }
 }
 @media(max-width: 767px) {
 
 }
 @media(max-width: 575px) {

  .img2 {
    height: 50px;
    width: 50px;
  }
 }